<h4>Clients</h4>

<form>
  <table class="table table-condensed table-hover">
    {{#each clients}}
      <tr data-id="{{id}}">
        <td>{{name}}</td>
        <td class="text-center">
          <a class="btn btn-xs btn-default"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
    {{/each}}

    <tr>
      <td class="col-md-5">
        <select class="form-control" required>
          <option value="">--Choose--</option>
          <option>Clark Davis Media</option>
          <option>VarsitySports.net</option>
          <option>WKLM Sports</option>
        </select>
      </td>
      <td class="col-md-2">
        <button data-action="add" class="btn btn-primary btn-block">Add</button>
      </td>
    </tr>

  </table>
</form>
