<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">John Smith</h3>
    <p>Classic Cars of Alpharetta</p>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate id ipsum quis mollis. Aliquam ipsum ante, sollicitudin sit amet tortor a, viverra venenatis mauris. Morbi mollis tincidunt eleifend. Mauris nec mi nec eros vehicula semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title text-right">Tom Jones</h3>
    <p class="text-right">Buckhead BMW</p>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate id ipsum quis mollis. Aliquam ipsum ante, sollicitudin sit amet tortor a, viverra venenatis mauris. Morbi mollis tincidunt eleifend. Mauris nec mi nec eros vehicula semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">John Smith</h3>
    <p>Classic Cars of Alpharetta</p>
  </div>
  <div class="panel-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vulputate id ipsum quis mollis. Aliquam ipsum ante, sollicitudin sit amet tortor a, viverra venenatis mauris. Morbi mollis tincidunt eleifend. Mauris nec mi nec eros vehicula semper. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </div>
</div>

<div class="btn-group btn-group-lg btn-group-justified">
  <a class="btn btn-success">Make Offer</a>
  <a class="btn btn-primary">Message</a>
  <a class="btn btn-info">Call</a>
</div>
