<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary btn-block" id="render">Render!</button>
  </div>
</div>

<div class="row">

  <div class="col-sm-6" data-view="list"></div>
  <div class="col-sm-6" data-view="details"></div>

</div>
