<div class="input-group">
  <input name="qty" type="number" placeholder="#" class="form-control" required />

  <div class="input-group-btn">

    <input name="unit" type="hidden" value="{{unit.value}}" required />
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span data-get="unit">{{unit.display}}</span>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu pull-right">
      {{#each units}}
        <li><a data-set="unit" data-value="{{value}}">{{display}}</a></li>
      {{/each}}
    </ul>

  </div>

</div>
