<input name="unit" type="hidden" value="day" required />

<div class="input-group">
  <input name="qty" type="number" placeholder="#" class="form-control" required />

  <div class="input-group-btn">

    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">day <span class="caret"></span></button>

    <ul class="dropdown-menu pull-right">
      <li data-rv-each-option="item.values"><a data-rv-text="option:value"></a></li>
    </ul>

  </div>

</div>
