<option>Audio</option>
<option>Bug Operator</option>
<option>Camera</option>
<option>Color</option>
<option>Director</option>
<option>Engineer</option>
<option>Executive Producer</option>
<option>Graphics</option>
<option>Grip</option>
<option>PA</option>
<option>Play by Play</option>
<option>Producer</option>
<option>Producer/Director/TD</option>
<option>Red Hat</option>
<option>Replay Operator</option>
<option>Sideline</option>
<option>Spotter</option>
<option>Stats</option>
<option>TD</option>
<option>Utility</option>
